SYNTHETIC_HRIS_DATABASE_HOST=synthetic-hris-db
SYNTHETIC_HRIS_DATABASE_PORT=5432
SYNTHETIC_HRIS_DATABASE_NAME=synthetic_hris
SYNTHETIC_HRIS_DATABASE_USER=synthetic_hris_app
SYNTHETIC_HRIS_DATABASE_PASSWORD=local_placeholder
QUERY_TIMEOUT_SECONDS=5
MAX_RESULT_ROWS=1000
MAX_RESULT_BYTES=1048576
MCP_PAYROLL_READ_AUTHORIZATION_ENABLED=true
